version: '2'
services:
  service:
    build: .
    image: 3mi3_h9_docker_image
    volumes:
      - .:/opt/h8
    container_name: 3mi3_h9_container
    command: bash -c
      "cat h9t.clj | lein repl"
